<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="../css/social-circles.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
				<li><a href="/astro.html">astro</a></li>
				<li><a href="/non-astro.html">non-astro</a></li>
	        		<li><a href="/cv">cv</a></li>
				<li><a class="icon-github social-button grey" href="https://github.com/benelson"></a></li>
				<li><a class="icon-twitter social-button grey" href="https://twitter.com/exobenelson"></a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:benelson@northwestern.edu">email</a></li>
	        		<li><a href="https://github.com/benelson">github</a></li>
				<li><a href="https://twitter.com/exobenelson">twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
